* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: rgb(234, 236, 201);
  }
  
  .analog,
  .digital {
    width: 350px;
    height: 350px;
    transition: transform 0.7s ease;
  }
  
  img {
    height: 100%;
    width: 100%;
  }
  
  h1 {
    text-align: center;
    margin-top: 15px;
    color: rgb(0, 0, 165);
  }

  .container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    gap: 100px;
  }
  
  .analog:hover,
  .digital:hover {
    transform: scale(1.08);
  }

  
